# Supabase / Postgres
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=

# Victron VRM API
VRM_API_TOKEN=
VRM_SITE_ID=

# Open-Meteo API
METEO_LAT=
METEO_LON=
METEO_TIMEZONE=UTC

# Common
SITE_ID=offgrid_site_1
PYTHONUNBUFFERED=1

# Airflow admin
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
AIRFLOW__API__SECRET_KEY=change_me_airflow_api_secret
AIRFLOW__API_AUTH__JWT_SECRET=change_me_airflow_api_auth_jwt_secret
